<div class="container">
  <h1 style="text-align: center">Suggestion</h1>

  <div class="row">

    <div class="col-4">
      <div class="card" style="width: 18rem;">

        <img class="card bg-dark text-white" src="http://image.tmdb.org/t/p/w400/{{random.poster_path}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ random.original_title }}</h5>
          <p class="card-text">{{ random.overview }}</p>
            </div>
          </div>

        </div>
      </div>
</div>
<router-outlet></router-outlet>
